body {
    display: flex;
}

.color-about {
    background-color: rgb(217, 217, 217);
}

.container-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
     
    h1 {
        margin-top: 2rem;
        font-size: 28px;
        color: black;
    }
}

.container-article-pc {
    display: none;
}

.container-article {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-top: 1.2rem;
}

.container-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
    padding: 30px;

    h1 {
        font-weight: 600;
        color: black;
        display: flex;
        font-size: 23px;
    }

    h2 {
        font-weight: 500;
        color: black;
        display: flex;
        font-size: 16px;
    }
}